
h1 {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.size14px {
  font-size: 14px;
}
.size18px {
  font-size: 18px;
}

.margin5px {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin0 {
  margin: 0;
}


/*Main container*/
.container {
    display: grid;
    height: auto;
    grid-template:
        [row1-start] "header" 70px [row1-end]
        [row2-start] "nav" 50px [row2-end]
        [row3-start] "shop" 180px [row3-end] 
        [row4-start] "main" 500px [row4-end]
        [row5-start] "shop2" 180px [row5-end]
        [row6-start] "main2" 500px [row6-end] 
        [row7-start] "footer" 200px [row7-end]
        / 100%;
}

/*Main container basic*/
.containerbasic {
    display: grid;
    height: auto;
    grid-template:
        [row1-start] "header" 70px [row1-end]
        [row2-start] "nav" 50px [row2-end]
        [row3-start] "main" 500px [row3-end]
        [row4-start] "footer" 200px [row4-end]
        / 100%;
}

/*Container for products*/
.containerproduct {
  align-self: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template:  
      [row1-start] "image info" auto [row1-end]
      / 50% 50%;
}

.image {
  grid-area: image;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.info {
  grid-area: info;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: #F5F5F5;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: fit-content;
}
.infotext {
  margin-left: 60px;
  padding-right: 60px;
  font-weight: bold;
}

/*Container for shoppingcart*/
.containercart {
  align-self: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template:  
      [row1-start] "product info2" auto [row1-end]
      / 55% 45%;
}

.info2 {
  grid-area: info2;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: #F5F5F5;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: fit-content;
}

.product {
  grid-area: product;
  text-align: left;
  align-items: center;
  justify-content: center;
}
/*Container for cart items*/
.containercartitem {
  margin-top: 20px;
  align-self: center;
  height: 330px;
  width: 100%;
  display: grid;
  grid-template:  
      [row1-start] "image iteminfo" auto [row1-end]
      / 30% 70%;
}

.iteminfo {
  grid-area: iteminfo;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
}


/*Headers container*/
.containerheader {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 
      [row1-start] "logomain headermain headermain headermain" auto [row1-end]
      / 15% auto auto 25%;
}

/*Size box*/
.sizebox {
  display: flex;
  width: 95%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
}

/*Mains containers*/
.containermain {
  padding-left: 5%;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template: 
      [row1-start] "mainmain side" auto [row1-end]
      / 67% 33%;
}
.containermain2 {
  padding-left: 5%;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template: 
      [row1-start] "side2 mainmain2" auto [row1-end]
      / 33% 67%;
}

/*Class*/
.side {
  grid-area: side;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  /* Temp part*/
  background-color: #00FF22;
  /*Temp part*/
}
.main {
  grid-area: main;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.mainmain {
  grid-area: mainmain;
  text-align: left;
  align-items: center;
  margin: auto;
  margin-right: 20px;
  
}
.mainmain2 {
  grid-area: mainmain2;
  text-align: left;
  align-items: center;
  margin: auto;
  margin-left: 20px;
}

.side2 {
  grid-area: side2;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  /* Temp part*/
  background-color: #00FF22;
  /*Temp part*/
}
.main2 {
  grid-area: main2;
  text-align: left;
}
.header {
  grid-area: header;
  text-align: left;
  align-items: center;
}
.headermain {
  grid-area: headermain;
  display: flex;
  text-align: left;
  background-color: #483AA0;
  align-items: center;
  gap: 2em;
  
}
.searchbar{
  background-color:#ffffff; 
  align-self: center; 
  border-radius: 20px;
  border-width: 10px;
  border: 3px solid black;
  padding: 10px 10px;
  width: 100%;
}
.searchbar:focus {
  outline: none;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: #0E2148;
  padding: 10px 2em 10px 2em;
} 
.nav_button {
  color: white;
  background-color: #0E2148;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;

}
 .nav_button:hover {
  background-color: #64a0e5;
}
.footer {
  grid-area: footer;
  background-color: #483AA0;
  width: 100%;
  margin-top: 20px;
}
.footer_list {
  color: white;
  font-size: 18px;
  display: flex;
  width: 100%;
  gap: 20px;
}
.footer_list h4{
  text-align: center;
  width: 100%;
}

.footer_list ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type:none;
  list-style-type: none;
  margin: 0px;
  padding-left: 0;
}


.footer_list li {
  text-align: center;
  min-width: 0;
  word-break: break-word;
}
.shop {
  grid-area: shop;
  text-align: left;
}
.shop2 {
  grid-area: shop2;
  text-align: left;
}

.logo {
  grid-area: logo;
  text-align: left;
  align-self: center;
  width: 100%;
  height: 100%;
}
.logomain {
  grid-area: logomain;
  text-align: left;
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: #483AA0;
}
body {
    margin: 0;
}

/*Shop containers*/
.media-scroller {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  -webkit-flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  height: 180px;
  aspect-ratio: 1/1;
  
}

.media-element { 
  min-width: 150px;
  width: 150px;
  aspect-ratio: 1/1;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  text-align: center;
}

.media-items {
  display: grid;
  grid-template-rows: 75% 25%;
  width: 100%;
  height: 100%;
  overflow: visible;
  justify-content: center;
  

}

.media-items > div {
  text-align: center;
  justify-items: center;
  align-self: center;
  margin: 0;
} 



.flex {
  display: flex;
  display: -webkit-flex;
}

div ::-webkit-scrollbar-track {
  background: #aa98ed;
  border-radius: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

div ::-webkit-scrollbar-thumb {
  background: #7965C1;
  border-radius: 10px;
}

div ::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.headerlogo{
  display: flex;
  align-items: center;
  height: 100%;
}
.login {
  background-color: #ffffff;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  border: 3px solid black;
  height: 60%;
  font-size: 70%;
  
}

.img{
  margin-right: 1em;
}

.img2 {
  margin-top: 15px;
  margin-left: 90px;
  position: absolute;
}

.swiper {
  width: 80%;
  height: fit-content;
}
.swiper-slide img {
  width: 100%;
  margin: auto;
}

.line {
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
  margin-right: 0;
}

.choice {
  text-align: center;
  margin: 0;
  padding-top: 5px;
}

.amountchoice {
  background-color: #0E2148;
  color: white;
  margin-bottom: 20px;
  height: 40px;
  width: 60px;
  font-size: 24px;
  text-align: center;
  margin-left: 20px;
}

.ostamisnappi {
  background-color: #0E2148; 
  color: white; 
  padding: 15px 55px 15px 55px;
  border: 0 0 0 0;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.lunastamisnappi {
  background-color: #F5F5F5; 
  color: black; 
  padding: 0 0 0 0;
  border: 0 0 0 0;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
}

.lunastamisflex {
  flex-direction: row;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.flexcart {
  flex-direction: column;
  width: 100%;
  height: fit-content;
  display: flex;
  margin-left: 40px;
}

.flexrow {
  flex-direction: row;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
}

.buttonnorm {
  border: 0 0 0 0;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.buttoncart {
  background-color: #F5F5F5; 
  height: 30px; 
  width: 30px;
}

.h2cart {
  margin-left: 10px; 
  margin-right: 10px; 
  height: fit-content;
}

.h2but {
  font-size: 24px;
}